@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg,#0c0c1d, #111132);
  position: relative;
  
  

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    pointer-events: none;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap:40px;
      pointer-events: none;
      text-align: center;
      margin-left: 100px;
      margin-top: 30px;
      
      
      

      @include mobile {
        height: 70%;
        width: 50%;
        gap: 20px;
        align-items: center;
        text-align: center;
        margin-top: 100px;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
        pointer-events: none;
      }

      h1 {
        font-size: 88px;
        pointer-events: none;


        @include mobile {
          font-size: 25px;
        }
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
          pointer-events: none;
          margin-top: 20px;

          @include mobile {
            font-size: 15px;
            margin-left: 18px;
          }
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    

    @include mobile {
      height: 20%;
      width: 70%;
      top: unset;
      bottom: 1;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  .slidingTextContainer {
    position: absolute;
    font-size: 40vh;
    bottom: -96px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}